[base_config]
project = "NSTC"
corpus = "MSP-PODCAST"
origin_upstream_url = "microsoft/wavlm-base-plus"
upstream_model = "wavlm-base-plus"
epoch = 30
batch_size = 16                                   # Can likely increase to 32 or 64 with Base model
learning_rate = 1e-5
dropout = 0.5
window = 5                                        # SMA window size for macro-F1 smoothing
seed = 42
tags = ["Re-weighting"]
finetune_layers = 3
num_layers = 3
use_gender = false
ckpt_name = "None"
loss_type = "WeightedCrossEntropy"
pooling_type = "AttentiveStatisticsPooling"
head_dim = 768
hidden_dim = 768

# Remote
[[experiments]]
name = "UpstreamFinetune-Reweight"
model_type = "UpstreamFinetune"
config = "base_config"
config_update = { loss_type = "Focal" }
#BalancedSoftmax Softmax Focal

#[[experiments]]
#name = "Retraining with Leaky ReLU"
#model_type = "UpstreamGender"
#config = "base_config"
#config_update = { use_gender = true, tags = [
#    "Full set",
#    "Gender Head",
#    "Dual Head",
#] }
